/*= =========== ===

=== MAIN STYLES ===

=== =========== =*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 32px;
}

h1 {
	font-size: 50px;
	font-weight: bold;
	line-height: 32.5px;
}

h2 {
	font-size: 28px;
	line-height: 32px;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-weight: 12px;
	border-radius: 10px;
	background-color: #000;
	color: #fcff19;
	font-weight: bold;
	padding: 5px 25px;
	text-transform: uppercase;
	line-height: 32px;
}


/*======== ===
=== HEADER ===
=== ========*/

.main-header {
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-color: #454a6a;
	min-height: 800px;
	position: relative;
}


/* === NAVIGATION ===*/

.header-logo {
	display: inline-block;
	margin-top: 20px;
}

.main-navigation {
	float: right;
	margin-top: 30px;
}

.main-navigation-list>li {
	display: inline-block;
	position: relative;
}

.main-navigation-list a {
	color: #fff;
	font-weight: bold;
	padding: 10px 12px;
	text-decoration: none;
}

.main-navigation-list>li:hover>a {
	background-color: #fcff19;
	color: #000;
	padding-bottom: 20px;
	border-radius: 10px 10px 0 0;
}

.main-navigation-list li:hover .sub-menu {
	display: block;
}

.main-navigation-list>li:nth-last-child(2):hover .sub-menu {
	right: 0;
	border-radius: 10px 0 10px 10px;
}

.sub-menu {
	position: absolute;
	display: none;
	top: 25px;
	border-radius: 0 10px 10px 10px;
	overflow: hidden;
	transition: 2s;
	perspective: 700px;
}

.sub-menu li {
	width: 220px;
	background-color: #fcff19;
	transform-origin: bottom;
	animation: 0.5s li-appear;
}

@keyframes li-appear {
	0% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0);
	}
}

.sub-menu a {
	display: inline-block;
	color: #000;
}

.sub-menu li:hover {
	background-color: #e1e200;
}


/* === SLIDER === */

.main-slider {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

.arrow-left,
.arrow-right {
	position: absolute;
	width: 58px;
	height: 58px;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	background-image: url("../img/arrow-left.png");
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.arrow-right {
	left: auto;
	right: 20px;
	transform: rotate(180deg) translateY(50%);
}

.main-slider-heading,
.main-slider-motto {
	color: #fff;
}

.main-slider-motto {
	font-size: 28px;
	font-weight: normal;
	text-transform: none;
}

.scroll-down {
	position: absolute;
	display: inline-block;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}


/*= ========== ===

=== CATEGORIES ===

=== ========== =*/

.categories {
	background-image: url('../img/categories-bg.jpg');
	background-repeat: repeat-y;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 160px;
}

.categories-container {
	display: flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}

.categories-item {
	width: 346px;
	min-height: 288px;
	margin-top: 52px;
	padding-top: 120px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.categories-item:first-of-type {
	background-image: url(../img/cat-1.jpg);
}

.categories-item:nth-of-type(2) {
	background-image: url(../img/cat-2.jpg);
}

.categories-item:last-of-type {
	background-image: url(../img/cat-3.jpg);
}

.categories-item-name {
	display: block;
	margin-bottom: 10px;
	color: #fcff19;
	font-weight: bold;
}

.categories-item-description {
	display: block;
	line-height: 32px;
	color: #fff;
	text-transform: none;
	font-weight: 100;
	font-size: 16px;
	margin-bottom: 10px;
}

.categories-item a {
	background-color: transparent;
	font-size: 12px;
	color: #fff;
	border: 3px solid #fff;
}


/*= ============= ===

=== POPULAR-BIKES ===

=== ============= =*/

.popular-bikes {
	text-align: center;
	padding-top: 50px;
}

.popular-bikes-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.popular-bikes article {
	margin: 0 23px;
}

.bike-description {
	float: left;
	text-align: left;
}

.bike-name {
	font-weight: bold;
	display: block;
	line-height: 32px;
}

.bike-price {
	display: block;
}

.bike-chose {
	float: right;
	padding-top: 8px;
}

.bike-chose select {
	text-transform: uppercase;
	border: 1px solid #8f8f8f;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Roboto', 'Arial', sans-serif;
	line-height: 32px;
	border-radius: 10px;
	outline: none;
	box-sizing: border-box;
	height: 42px;
	width: 143px;
	padding-left: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none!important;
	text-indent: 0.01px;
	position: relative;
	background-image: url("../img/button-tick.png");
	background-position: right 17px center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-right: 5px;
}

.bike-chose select::-ms-expand {
	display: none;
}

.buy-btn-inactive {
	color: #fff;
	background-color: #b7b7b7;
}


/*= ========== ===

=== CONTACT-US ===

=== ========== =*/

.contact-us {
	background-image: url('../img/contact-bg.jpg');
	background-repeat: repeat-y;
	text-align: center;
	padding-top: 50px;
}

.contanct-meta {
	text-transform: none;
}

.contact-form {
	width: 450px;
	margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
	box-sizing: border-box;
	padding: 5px 10px;
	margin: 5px 0;
	border-radius: 10px;
	border: 1px solid #dadada;
	font-style: italic;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Roboto', 'Arial', sans-serif;
	line-height: 32px;
	outline: none;
}

.contact-form input[type="text"] {
	width: 47%;
}

.contact-form input[type="text"]:first-of-type {
	margin-right: 5%;
}

.contact-form input[type="email"] {
	width: 100%;
}

.contact-form textarea {
	width: 100%;
	height: 153px;
	resize: none;
}

.send-btn {
	cursor: pointer;
	background-color: #b7b7b7;
	border: none;
	color: #fff;
}


/*= ====== ===

=== FOOTER ===

=== ====== =*/

